pybind11>=2.10.4
pybind11-global>=2.12.0
numpy<2.0
scikit-learn>=1.2.2
keras>=3.3
torch>=2.3
torchvision>=0.18
matplotlib>=3.7.4
build>=1.0.3
cibuildwheel>=2.19.1
breathe>=4.35.0
exhale>=0.3.7
sphinx>=7.3.7
sphinx-rtd-theme>=2.0.0
